{% extends "layout.html" %}

{% block title %}
tweet and tweet
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">Welcome to MyChannel tweet</h1>
<h2>
    {% if form.instance.pk %} Edit Tweet
    {% else %} 
    Create Tweet
    {% endif %}
    <form method="post" enctype="multipart/formdata" class="form">
        {% csrf_token %}
        {{form.as_p}}
        <button btn btn-warning>Submit</button>
    </form>
    <a href="{% url 'tweet_list'%}">Back to tweet list</a>
</h2>
{% endblock %}